<%- include ("./partials/nav.ejs") %>

<section class="py-5"></section>
    <h1>聯絡我們</h1>
   <p>
       BOOKING SYS( 兩個User [Johnny] [Ray] 功能：選時段被人BOOK，預約者要留的資料包括： 1，稱呼 2，電話，資詢內容。)
   </p> 
   <img src="/assets/img/products/new9.wmf" alt="">

   <p>地址：九龍油麻地砵蘭街61-63號長盛中心 7B室</p>
    <p>
        電話：31659569
        
    </p>

    </section>

    <%- include ("./partials/footer.ejs") %>