<%- include ("./partials/nav.ejs") %>


<div>
    <div>

        <h1>政府資助</h1>
        
        <h3>Technology Voucher Programme (TVP)</h3>
        
        <link>
        TVP於2016年11月由 香港生產力促進局 (HKPC) 推出，旨在支援本地企業/機構使用科技服務和方案，以提高生產力或將業務流程升級轉型。
    </p>
    
    <lu>
        <li>以政府75% : 25% 企業比例模式為項目提供資助。</li>
        <li>每家企業累計資助上限：60萬港元（一年20萬港元）</li>
        <li>每家企業最多可獲批6個項目。</li>
        
    </lu>
    
    <p>Hangs Tech 為各行各業提供專業意見及恊助各企業更上一層樓。</p>
</div>

<div>
    
    <img style="width: 90%;  height: 25%;" src="/assets/img/products/new8.png" alt="">
</div>
    
</div>
<%- include ("./partials/footer.ejs") %>