
<%- include ("./partials/nav.ejs") %>

<header class="bg-dark">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center">
                    <p class="fw-bold text-success mb-2">Hangs Tech Limited</p>
                    <h1 class="fw-bold">專門度身訂造適合你的網站及系統。</h1>
                    <img  style="width: auto;"   src="/assets/img/products/new1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-8  text-center ">

                <div class="text-center">
                    <h3 class="fw-bold  mb-2">系統可以幫助自動化處理厭惡性的工作。</h3>
                    <img src="/assets/img/products/new2.jpg" alt="">
                    <h3 class="fw-bold  mb-2">網頁有效率地提升業務上的效益。</h3>
               
                    <img src="/assets/img/products/new3.png" alt="">
                    </div>
                  

                            <h2 class="fw-bold">為什麼選擇Hangs？</h2>
                            
                            <h3  class="fw-bold  mb-2">我們都用React.JS設計一個網站，令你更具備競爭力！</h3>
                            <img src="/assets/img/products/new4.png" alt="">
                       
  <div class="col-md-8  ">
                <div class="col-md-8  text-center ">
                    <h3  class="fw-bold  mb-2">我們有專業充足的資源。</h3>
                   <img src="/assets/img/products/new5.png" alt="">

                    <h3  class="fw-bold  mb-2">讓我們一齊走在時代的前端。</h3>
                    <img src="/assets/img/products/new6.jpg" alt="">

 </div>
                    </div>

                </div>
        </div>
    </div>
</header>


<%- include ("./partials/footer.ejs") %>