<%- include ("./partials/nav.ejs") %>

<h1>什麼是 React.js</h1>

<p>
    根據 Statista 的數據，React 已迅速成為建立現代 Web 應用程式時使用最廣泛的框架之一，42.62% 的受訪者表示他們使用它。
    https://www.statista.com/statistics/1124699/worldwide-developer-survey-most-used-frameworks-web/
    React 是 Facebook 開發的 JavaScript 程式庫，除此之外，它還被用來建立 Instagram.com。它的目的是讓開發人員能夠輕鬆地為網站和應用程式創建快速的使用者介面。React.js 的主要概念是虛擬 DOM。它是一個基於 JavaScript 元件的樹，使用 React 創建，模仿 DOM 樹。它盡可能減少 DOM 操作，使您的 React 元件保持最新。
    請參閱 Pete Hunt 的演講，介紹 Web 框架並概述三個有爭議的主題：拋棄模板的概念並使用 JavaScript 構建視圖、資料更改時“重新渲染”整個應用程式以及 DOM 和事件的輕量級實現。

</p>
以下都使用React.JS的公司：
<img src="/assets/img/products/new7.png" alt="">

<%- include ("./partials/footer.ejs") %>